.accordion-container{
    padding-left: 5%;
}
.accordion-title{
    cursor: pointer;
    font-size: 11px;
    font-weight: 650;
    color: rgb(99, 95, 95);
}
.accordion-title:hover{
    color: rgb(148, 139, 139);
}
.accordion-ul{
    list-style-type: none;
    cursor: pointer;
}
.accordion-list{
    text-decoration: none;
    color: rgb(99, 95, 75);
    text-decoration-line: none;
    font-size: 14px;
}
.accordion-list:hover{
    cursor: pointer;
    color: grey;
}
