.light-colored-paragraph{
    color: grey;
}
p{
    line-height: 1.7;
}
h1{
font-size: 46px;
}
strong{
    font-weight: 1200;
    font-size: 14px;
}
li{

    width: 85%;
}
li p{
    line-height: 1;
    font-size: 13px;
    font-weight: 400;
   
}
.Tips-container{
    background-color: rgba(255,229,100,0.3);
    border-left-color: #ffe564;
    border-left-width: 12px;
    border-left-style: solid;
    padding: 15px 20px 5px 20px;
}
.Tip-title{
    font-weight: 780;
    line-height: 0%;
}
.code {
    display: block;
    background: #282C34;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 2% 0% 2% 6%;
    margin-top: 2%;
    margin-bottom: 2%;
}