/* .Footer-container{
    display: flex;
    background-color: #20232A;
    height: 90vh;
    width: 50vw;
    padding: 4% 10% 4% 10%;
}
.footer-icon-container{
    display: flex;
    width: 40%;
    height: 0%;
}
.footer-icon-paragraph-container{
    display: inline-flex;
    justify-content: space-between;
    color: aliceblue;
    text-align: center; 
    height: 10%;   
    width: 100%;
}
.footer-icon-paragraph{
    display: flex;
    width: 100%;
    color: #6B6B6B;
}
.footer-icon{
    padding-top: 5%;
    padding-right: 3%;
    color: #6B6B6B;
    font-size: 40px;
}
.footer-columns{
    display: flex;
    flex-direction: column;
    color: white;
    width: 35%;
    height: 90%;
}
.footer-columns a{
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
}


.footer-docs-container{
    display: flex;
    flex-direction: column;
    height: 60%;
}
.footer-community-container{
    display: flex;
    flex-direction: column;
    height: 30%;
}
.footer-docs-container a{
    margin: 3%;
}
.footer-community-container a{
    margin: 3%;
}
.footer-dull-paragraph{
    color: #b71515;
    font-weight: 500;
} */



.footer-bg-container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#20232a ;
    display: flex;
}
.footer-logo-containers{
    margin: 5%;
}
.footer-img{
    max-width: 200px;
    height: auto;
}
.footer-doc-anchor{
    display: block;
    color: #ffff;
    font-size: 12px;
    margin-bottom: 12px;
    text-decoration: none;
}
h4{
    color: #515255;
    font-size: 10px;
    font-weight: 800;
}
.footer-middle-container{
    margin: 8%;
}
.footer-right-container{
    margin: 8%;
}
.text{  
    color: #999;
    padding-top: 15px;
}
.more-container{
    margin-top: 40px;
}