/* .Navbar-container{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    display: flex;
    height: 12vh;
    background-color: #20232a;
    color: #61DAFB;
    z-index: 1;
    width: 100%;
    top: 0%;
    left: 0%;
    position: fixed;
}
.navbar-icon-container{
    cursor: pointer;
    width: 15vw;
    color: #61DAFB;
    font-weight: bold;
    text-align: center;
    margin-left: 8%;
    margin-top: 2%;
    height: 30px;
    margin-right: 3%;
}
.react-icon{
    color: #61DAFB;
    font-size: 18px;
}
.navbar-icon-text{
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #61DAFB;
    text-decoration: none;
    text-decoration-line: none;
}
.navbar-list-container{
    display: flex;
    padding-right: 6%;
    height: 30px;
    width: 40vw;
    margin-top: 2%;
}
.tagnames{
    color: #61DAFB;
    font-style: normal;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    text-decoration: none;
    text-decoration-line: none;
}
.navbar-search-container{
    margin-top: 2%;
    margin-left: 0%;
    padding-top: 5px;
    height: 22px;
    width: 25%;
}
.icon{
    color: #61DAFB;
    padding-left: 4%;
    padding-right: 4%;
}
.input-field{
    background-color: transparent;
    border: none;
}
.tagnames:hover{
    text-decoration: underline;
    text-decoration-color: #61DAFB;
    text-underline-position:inherit;
}
.selected-li{
    font-style: normal;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(183, 29, 29);
    font-weight: 300;
    text-decoration: none;
    text-decoration-line: none;
} */














































.navbar-nav-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-around;
    background-color: #20232a;
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    font-size: 15px;
}

.Navbar-logo {
    display: flex;
    color: #61dafb;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    justify-content: space-between;
    width: 6.5%;
    font-weight: bold;
}

.logo {
    padding-top: 3%;
}

.navbar-link-container {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-top: 1%;
}

.navbar-search {
    padding-top: 0.5%;
    padding-bottom: 1%;
    color: white;
    width: 25%;
}

input{
    background-color: transparent;
    border: 0 none transparent;
    margin-left: 4%;
}

.unselected-link{
    color:white;
    text-decoration: none;
    font-weight: 100;
}

.selected-link{
    color:#61dafb;
    text-decoration: none;
    font-weight: 100;
}


.selected-navbar-link {
    margin-right: 25%;
    border-bottom: 3px solid #61dafb;
}

.unselected-navbar-link :hover {
    color: #61dafb;
}

.unselected-navbar-link {
    margin-right: 25%;
}