.Title-footer-title-container{
    font-family: -apple-system,Helvetica ,sans-serif;
    background-color: rgb(40, 44, 52);
    text-align: right;
    padding: 2% 8% 2% 0%;
}
.Title-footer-title-container-paragraph{
    color: #61DAFB;
    font-size: 14px;
    padding-right: 0;
}
.Title-footer-title-container-anchor{
    font-size: 27px;
    color: white;
    border-color: gray;
}
