.footer-bg-container{
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#20232a ;
    display: flex;
}
.footer-logo-containers{
    margin: 5%;
}
.footer-img{
    max-width: 200px;
    height: auto;
}
.footer-doc-anchor{
    display: block;
    color: #ffff;
    font-size: 12px;
    margin-bottom: 12px;
    text-decoration: none;
}
h4{
    color: #515255;
    font-size: 10px;
    font-weight: 800;
}
.footer-middle-container{
    margin: 8%;
}
.footer-right-container{
    margin: 8%;
}
 .text{  
    color: #999;
    padding-top: 15px;
}
.footer-doc-anchor:hover{
    color: aqua;
}